.homepage {
    align-items: flex-start;
    background-color: var(--wdprwdpr-background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 20px;
}

.homepage .header-ingelogd-instance {
    flex: 0 0 auto !important;
}

.homepage .header-ingelogd-2 {
    color: var(--wdprwdpr-background) !important;
}

.homepage .header-ingelogd-3 {
    background-color: var(--wdprwdpr-background) !important;
}

.homepage .spacer-2 {
    align-self: stretch;
    height: 48px;
    position: relative;
    width: 100%;
}

.homepage .frame-2 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
    width: 1339px;
}

.homepage .spacer-3 {
    align-self: stretch;
    position: relative;
    width: 80px;
}

.homepage .chat-messages {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    padding: 0px 0px 32px;
    position: relative;
}

.homepage .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
    width: 100%;
}

.homepage .column {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    position: relative;
}

.homepage .div-2 {
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid;
    border-color: var(--wdprlogo-blue);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 0px 16px 16px;
    position: relative;
    width: 100%;
}

.homepage .text-wrapper-3 {
    align-self: stretch;
    color: var(--wdprwdpr-default);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
}

.homepage .p {
    align-self: stretch;
    color: var(--wdprwdpr-default);
    font-family: var(--WDPR-WDPR-p-font-family);
    font-size: var(--WDPR-WDPR-p-font-size);
    font-style: var(--WDPR-WDPR-p-font-style);
    font-weight: var(--WDPR-WDPR-p-font-weight);
    letter-spacing: var(--WDPR-WDPR-p-letter-spacing);
    line-height: var(--WDPR-WDPR-p-line-height);
    position: relative;
}

.homepage .frame-4 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 538px;
    position: relative;
}

.homepage .column-2 {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--wdprlogo-blue);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 0px 16px 16px;
    position: relative;
}

.intro {
    margin: 20px;
}

.intro h2 {
    font-size: 36pt;
}

.intro p {
    width: 50%;
    word-wrap: break-word;
    font-size: 13pt;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


[data-theme='light'].expertise-card {
  background: #d9ebf7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}
[data-theme='dark'].expertise-card {
  background:#108670;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}
.expertise-card h3 {
    margin-top: 0;
}

[data-theme='dark'] .expertise-card p {
  color: #ffffff;
}

[data-theme='light'] .expertise-card p{
  color:#000000;
}

.header {
    font-size: 18pt;
    color: #000;
    margin: 20px;
}
