/*https://css-tricks.com/easy-dark-mode-and-multiple-color-themes-in-react/*/

:root {
    --background: #FFFFFF;
    --text-primary: #111329;
    --text-secondary: #1CA883;
    --accent: #FF7D00;
}

[data-theme='dark'] {
    --background: #111329;
    --text-primary: #D9EBF7;
    --text-secondary: #21CEA1;
    --accent: #FFB800;
}

[data-theme='blue'] {
    --background: #2B50EC;
    --text-primary: #FFFFFF;
    --text-secondary: #21CEA1;
    --accent: #FFB800;
}


.App {
    text-align: center;
    background-color: var(--background);
    color: var(--text-primary);
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}


.Logo-row {
    display: flex;
    flex-direction: row;
}

.Logo-text {
    display: flex;
    flex-direction: column;
}

.text-sec {
    color: var(--text-secondary);
}

.text-accent {
    color: var(--accent);
}