/* Lets use vw for most sizes for containers with a minimum size 
and wrap so stuff automatically moves down if it gets to small */
:root {
    /* in comments the names that are used in figma */
    --background: #FFFFFF; /*Background*/
    --default: #111329; /*Default*/
    --accent-1: #2B50EB; /*Logo blue*/
    --accent-2: #1CA883; /*Logo green*/
    --accent-3: #FFB800; /*Button 2*/
    --accent-4: #21CEA1; /*Secondary*/
    --header-text-1: #111329;
    --header-text-2: #FFFFFF;
    --font-size: 16px;
    --logo-size: 5vw;
    --header-column-gap: 64px;
    --header-padding-side: 32px;
}

/* Todo make dark theme (currently the same as light) */
[data-theme='dark'] {
    /* in comments the names that are used in figma */
    --background: #111329; /*Background*/
    --default: #FFFFFF; /*Default*/
    --accent-1: #2B50EB; /*Logo blue*/
    --accent-2: #1CA883; /*Logo green*/
    --accent-3: #FFB800; /*Button 2*/
    --accent-4: #21CEA1; /*Secondary*/
    --header-text-1: #111329;
    --header-text-2: #FFFFFF;
}

/*maybe add stuff like container widths, min sizes padding etc. as well*/
[data-font-size='big'] {
    --font-size: 20px;
}

[data-font-size='bigger'] {
    --font-size: 24px;
}

[data-font-size='biggest'] {
    --font-size: 30px;
}

.Main {
    background: var(--background);
    color: var(--default);
    font-size: var(--font-size);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

h3 {
    font-size: 1.75em;
    margin: 0;
}

/* Todo Button stuff here */
button {
    all: unset;
    align-items: center;
    background-color: var(--accent-2);
    color: var(--default);
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    height: 2em;
    justify-content: center;
    padding: 8px 16px;
    position: relative;
    width: 10em;
}

button:hover {
    background: var(--accent-1);
    color: var(--background);
}

header {
    position: sticky;
    top: 0;
    background: var(--accent-1);
    color: var(--header-text-2);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 16px;
    z-index: 200;
}

.Header-top {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    column-gap: var(--header-column-gap);
    padding: 0px var(--header-padding-side);
}

.Logo-header {
    width: var(--logo-size);
    pointer-events: none;
}

.Info-header {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    column-gap: 8px;
    justify-content: flex-end;
    position: relative;
}

.Button-header {
    background: var(--accent-3);
    color: var(--header-text-1);
    font-size: 1.25em;
    height: 1.5em;
}

.Button-header:hover {
    background: var(--accent-4);
}

.Button-header:active {
    color: var(--header-text-2);
    background: var(--header-text-1);
}

.Button-header-small {
    background: var(--accent-3);
    color: var(--header-text-1);
    font-size: 1.25em;
    width: 1.5em;
    height: 1.5em;
}

.Button-header-small:hover {
    background: var(--accent-4);
}

.Button-header-small:active {
    color: var(--header-text-2);
    background: var(--header-text-1);
}

.Navigation {
    align-items: center;
    align-self: stretch;
    background-color: var(--accent-1);
    display: flex;
    flex: 0 0 auto;
    gap: 0px;
    padding: 0px 32px;
    position: relative;
    width: fit-content;
}

.Navigation-spacer {
    align-self: stretch;
    position: relative;
    width: var(--logo-size);
    padding-right: var(--header-column-gap);
    /*+ --header-column-gap + --header-padding_side);*/
    /*width: var(--logo-size) + var(--header-column-gap) + var(--header-padding-side);*/
}

.Button-navigation {
    all: unset;
    align-items: center;
    background-color: var(--accent-1);
    color: var(--header-text-2);
    border-radius: 0px;
    box-sizing: border-box;
    display: flex;
    gap: 0px;
    justify-content: center;
    padding: 0px 0px;
    position: relative;
    height: 3em;
    width: 14em;
    /*width: 7.5vw;*/
}

.Button-navigation:hover {
    background: var(--accent-4);
    color: var(--default);
}

.Button-navigation:active {
    background: var(--background);
    color: var(--default);
}

.Body {
    font-size: 1em;
    z-index: 100;
}

header ul {
    padding: 0;
    margin: 0;
}

header ul li {
    text-align: left;
    display: inline-block;
    list-style: none;
}

/* css voor onderzoeken */

.Onderzoek {
    font-size: 15px;
    margin: 30px;
    margin-left: 100px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 800px;
  }
  
  .Onderzoek p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .Beoordeling label{
    font-size: 14px;
    display: block;
    margin: 15px;
  }
  
  /* einde css voor onderzoeken */
